/* common shared css */
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
font-family: 'Fira Sans', sans-serif;
font-family: 'Golos Text', sans-serif;
font-family: 'Labrada', serif;
font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.text-primary{
    color:#FFA500 ;
}
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 30px;
}
.section-description{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}






/* nav related  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    padding: 30px 10px;
}
nav > ul{
    display: flex;
    align-items: center;
}
.web-title{
    font-size: 45px;
    font-weight: 800;
    color: black;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.text-btn{
    background: #FFA500;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 35px;
}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* banner */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
   
}
.banner-content{
    max-width: 500px;
}
.banner img{
    width: 400px;
   

}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    
}
.banner-description{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding: 0px 0px 0px 15px ;
    margin-bottom: 20px;
}
/* about */
.about{
    background: #FFF8F3;
    margin: 130px 0;
    padding: 130px;
    border-radius: 10px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{

    text-align: center;   
}
#sec-desc{
    padding: 20px 150px;
}
/* skill-container */
.skill-container{
    display: flex;
    gap: 24px;
   
}
.skill{

background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
border-radius: 5px;




}
/* .skill img{
    padding: 30px 190px 30px 20px;
}  */
 /* .skill-title{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    padding: 10px 90px 15px 0px;
}  */
.skill-description{
    
    text-align: center;
    color: #757575;


}
    



